@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$header-height: 64px;

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /*color: #572EE5; */
}

.navigator {
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: rgb(29, 114, 194);
}

.logo {
    width: 67px;
    height: 18px;
    position: relative;
    left: 29.9px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: min-content;
    position: absolute;
    right: 30px;
}

.menu-item {
    width: min-content;
    margin-left: 34.4px;
    list-style: none;
}

.menu-title {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

main {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$header-height}); */
}

.login {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$header-height});
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.welcome {
    width: auto;
    padding: 30px 30px 0 30px;
    font-size: 24px;
}

.log {
    width: 250px;
}

.field {
    height: 30px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.field::-webkit-input-placeholder {
    text-align: center;
}

.submit {
    align-self: flex-end;
    width: 125px;
    height: 30px;
    margin: 0 150px 35px 0;
    outline: none;
    border: none;
    border-radius: 2px;
    background: rgb(29, 114, 194);
    color: white;
}

.submit:hover {
    /* box-shadow: 1px 0px 0px rgb(0, 105, 202); */
    background: #0683f9;
    
}

.submit:active {
    background: #afafaf;
    /* box-shadow: 0px 2px 4px 0px rgb(95, 94, 94); */
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t2 {
    padding: 39.6px 0 0 29.4px;
    font-size: 24px;
    color:  rgb(51, 51, 51);
}

.head-us {
    display: grid;
    grid-template: repeat(1, 1fr)/32% 35% 18% 15%;
    width: 95.9%;
    margin: 20px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
   
}

.users-list {
    width: 95.9%;
    margin: 0px 0px 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: hidden;
}

.h-item {
margin-top: 11.5px;
}

.row-user {
    display: grid;
    grid-template: repeat(1, 1fr)/32% 35% 18% 15%;
    /* width: 95.9vw; */
    &:hover {
        background: rgba(0,0,0,0.05);
    }
}

.u-item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 0 0 16px;
    font-size: 14px;
    
}

.h-act {
    padding: 0;
    width: min-content;
    justify-self: center;
}

.action {
    padding: 0;
    width: min-content;
    justify-self: center;
}

.fa-ellipsis-h {
    color: rgba(0,0,0,0.50);
}

.fa-trash {
    padding: 10px;
    color: rgba(0,0,0,0.50);
}

.fa-pen {
    padding: 10px;
    color: rgba(0,0,0,0.50);
}

.bold {
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.loc-container {
    width: 600px;
    margin-left: 100px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn {
    width: 100px;
}

.add-reg {
    width: 120px;
    height: 42px;
}

.l-item {
    list-style: none;
}

.reg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reg-title {
    width: min-content;
    font-size: 20px;
    font-weight: 400;
}

.count-container {
 display: flex;
}

.count-btn {
    display: flex;
    margin: 10px 0 10px 30px;
}

.count-title {
    width: min-content;
    font-size: 20px;
    font-weight: 400;
}

.btn {
    /* outline: none; */
    border: none;
    border-radius: 2px;
    background: rgb(29, 114, 194);
    color: white;
    &:hover {
        background: #0683f9;
    }
}

.add {
    width: 56px;
}

.edit {
    width: 50px;
}

.delete {
    width: 60px;
}

.city-container {
    display: flex;
}

.city-title {
    width: min-content;
    font-size: 20px;
    font-weight: 400;
}

.firstname {
    
}
.lastname {
    
}
.email {
    
}
.perfil {
    
}




.none {
    display: none;
}