@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    /* font-family: "Montserrat", sans-serif;
    color: #572EE5; */
}

.navigator {
    display: flex;
    align-items: center;
    height: 64px;
    background-color:rgb(4, 100, 188); //color detectado online
}

.logo {
    width: 67px;
    height: 18px;
    position: relative;
    left: 29.9px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    width: min-content;
    position: absolute;
    right: 30px;
}

.menu-item {
    /* display: inline; */
    /* display: flex;
    align-items: center; */
    width: min-content;
    margin-left: 34.4px;
    list-style: none;
}

.menu-title {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}